@page "/"
@page "/index"

<section id="albums" class="section">
    <Albums />
</section>
<section id="about" class="section section-bg section-bg--forest">
    <About />
</section>
<section id="contact" class="section">
    <Contact />
</section>